# Hypothesis:

## There is a strong correlation between total government expenditure on education (measured in the percentage of government expenditure) and tertiary school enrollment (measured by the ratio of total enrollment).

In [1]:
import pandas as pd
EDUCATION_SPENDING: str = "SE.XPD.TOTL.GB.ZS"
TERTIARY_SCHOOL_ENROLLMENT: str = "SE.TER.ENRR"

### 0. The CSV file containing the data set sourced from the World Bank will be read into a DataFrame.

In [4]:
databank = pd.read_csv("../../data/databank_education_2018.csv")
databank

,Country,SE.COM.DURS,SE.ENR.PRIM.FM.ZS,SE.ENR.PRSC.FM.ZS,SE.ENR.SECO.FM.ZS,SE.ENR.TERT.FM.ZS,SE.PRE.DURS,SE.PRE.ENRL.TC.ZS,SE.PRE.ENRR,SE.PRE.ENRR.FE,...,SH.DYN.1014,SH.DYN.1519,SH.DYN.2024,SL.TLF.TOTL.FE.ZS,SL.TLF.TOTL.IN,SL.UEM.TOTL.FE.ZS,SL.UEM.TOTL.MA.ZS,SL.UEM.TOTL.ZS,SP.POP.0014.TO.ZS,SP.POP.1564.TO.ZS
0,Afghanistan,9.0,0.66691,0.63602,0.57098,0.34523,1.0,NaN,NaN,NaN,...,2.0,13.8,17.6,21.247021,1.031928e+07,13.920000,10.290000,11.060000,43.090176,54.324898
1,Albania,9.0,1.03765,1.01730,1.00539,1.36299,5.0,17.09409,80.498734,80.790977,...,1.1,1.8,1.9,42.190687,1.400072e+06,11.870000,12.620000,12.300000,17.672874,68.582390
2,Algeria,10.0,0.95499,NaN,NaN,1.39722,1.0,NaN,NaN,NaN,...,1.7,2.7,3.3,20.126974,1.258937e+07,20.490000,9.720000,11.890000,30.148679,63.488825
3,Andorra,10.0,NaN,NaN,NaN,NaN,3.0,13.27711,NaN,NaN,...,0.5,1.4,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,6.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,6.4,13.1,19.9,50.202910,1.270565e+07,7.280000,6.720000,7.000000,46.808925,50.974702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,West Bank and Gaza,10.0,1.00261,1.06176,1.10154,1.36479,2.0,16.69999,56.479252,56.484600,...,2.0,3.5,4.1,19.854598,1.214011e+06,41.849998,22.389999,26.260000,38.947361,57.919333
240,World,10.0,0.98104,0.98576,0.99104,1.12429,4.0,17.45058,61.187061,60.986401,...,3.0,5.0,6.4,38.858304,3.428734e+09,5.531963,5.270265,5.371721,25.795967,65.330905
241,"Yemen, Rep.",9.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,6.5,10.9,14.8,7.895299,6.561778e+06,25.330000,11.950000,13.010000,39.614890,57.508840
242,Zambia,7.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,4.2,9.6,13.0,48.295769,7.133451e+06,13.240000,10.850000,12.010000,44.936141,52.964181
243,Zimbabwe,7.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,6.8,9.9,14.8,50.928141,6.908699e+06,5.620000,4.500000,5.070000,42.401066,54.659410

### 1.